@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  width: 350px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  width: 100%;
  align-items: center;
  border: 2px solid #70e6f3;
  border-radius: 10px;
  overflow: hidden;
}

.location {
  flex: 1;
  height: 30px;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
}

.search-icn {
  padding: 10px;
  height: 30px;
  cursor: pointer;
  align-items: center;
}

.search-icn>* {
  object-fit: contain;
  margin-top: 5px;
}

.weather-icn {
  text-align: center;
  height: 150px;
  margin-bottom: 10px;
}

.weather-icn>* {
  size: 2xl;
  height: 160px;
  width: 160px;
  color: lightblue;
}

.description {
  text-align: center;
  font-size: 18;
}

.temp,
.location-det,
.country {
  margin-top: 5px;
  font-size: 35px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
}

.temp {
  font-weight: 500;
}

.location-det {
  color: #ffbc00;
  font-weight: 400;
  font-size: 40px;
}

.country {
  color: #888;
  font-weight: 500;
  font-size: 20px;
}

.coordinates {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}

.coordinates div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.coordinates div span {
  font-size: 14px;
}

.coordinates div span:nth-child(2) {
  font-size: 18px;
  font-weight: 500;
  color: #666;
  padding-top: 5px;
}

.data-container {
  display: flex;
  justify-content: space-around;
}

.condition-icn {
  width: 30px;
  height: 30px;
}

.element> :nth-child(1) {
  color: red;
  height: 30px;
  width: 30px;
}

.element,
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data {
  margin-top: 5px;
}

.text {
  font-size: 12px;
  color: #888;
}

.copy-right {
  text-align: center;
  font-size: 12px;
  color: #888;
}

.copy-right span {
  color: #333;
}